.navbar-brand {
    display: inline;
    height: min-content;
}

.logout {
    position: absolute;
    right: 0;
}
.navbar-brand {
    margin: 0;
    padding: 0;

}
main {
    margin-top: 20px;
    margin-right: 10%;
}
h1 {
    padding: 10px;
}
#js-tab h6 {
    font-size: large;
    display: block;
    padding: 10px;
}
.main-part {
    display: inline-block;
    width: 75%;
    float:right;
}
#js-tab .inner-admin-panel div {
    padding: 20px 2%;
}
.table {
    width: 96%;
    /*margin: 50px 2%;*/
}
.table tr {
    height: min-content;
    padding: 0;
}
.left-menu {
    margin: 0;
    width: 20%;
    display: inline-block;
    float:left;
    max-width: 300px;
    min-height: 80vh;
}
.list-group-item.list-group-item-action {
    border: none;
}
#editForm {
    text-align: center;
}
#editForm label {
    font-weight: bold;
}
.inner-admin-panel-add {
    background: white;
    display: block;
}
.inner-admin-panel-add#js-tab form#js_new_user_form {
    margin: 0 auto;
    width: 40%;
    max-width: 500px;
}
.inner-admin-panel-add form#js_new_user_form div{
    margin: 0 auto;
    text-align: center;
}
.inner-admin-panel-add form#js_new_user_form label {
    font-weight: bold;
}
.inner-admin-panel-add form#js_new_user_form .btn {
    display: block;
    width: 20%;
    min-width: 80px;
    margin: 0 auto;
}

